// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'home';


:root {
    --color-1: #DE4B4B;
    --color-1--hover: #983f3f;
    --color-2: #EB5757;
    --color-3: #3C3C3C;
    --color-4: #C9C9C9;
    --color-5: #000000B3;
    
  }

* {
  -webkit-tap-highlight-color: transparent;
}
*:focus {
    outline: 0!important;
}
